<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>{logstash host }</syslogHost>
        <port>{ logstash port 25826 }</port>
        <facility>LOCAL1</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

</configuration>